<style>
    #create,
    #add,
    #delete{
        display: inline-block;
        vertical-align: baseline;
    }
    
    </style>
    
    <div class="col-md-12">
        <div class="card card-accent-primary">
          <div class="card-header">
            <strong>{{mainTopic}}</strong> 
          </div>
          <div class="card-body">

          <!-- <div class="container"> -->
            <div class="p-3 border" >
            <div class="form-group row ">
                <label class="col-md-1 col-form-label" for="text-input">Item</label>
                <div class="col-md-9">
                  <input type="text" 
                            name="itemDiscription" 
                            #itemDiscription="ngModel" 
                            [(ngModel)]="mainModel.itemDiscription"
                            class="form-control" 
                            placeholder=""
                            [readonly]="true"
                            required> 
                 <!--  <span class="help-block">This is a help text</span> -->
                 <div *ngIf="itemDiscription.touched && itemDiscription.errors?.required" style="color: red;">Required</div>
                </div>
                <div class="col-md-2">
                  <button type="button" class="btn btn-block btn-outline-primary" (click)="getAllItem()" data-toggle="modal" data-target="#productCatModel">
                    Select
                  </button>
                </div>
              </div>
            </div>
            <!-- </div> -->

            <div style="height: 20px;">


            </div>
    
            <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th style="width: 200px;">Actions</th>
                    <th>Item Code</th>
                    <th>Item Name</th>
                    <th>Sell Price</th>
                    <th>Fixed Amount</th>
                    <th>Percentage</th>
                    <th>Effective Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div *ngIf="mainModel.itemDiscription">
                        <button class="btn btn-block btn-outline-primary" 
                            type="button" data-toggle="modal" 
                            data-target="#myModal">
                              <i class='fa fa-plus fa-md'></i>
                        </button> <!-- (click)="clearModel();" -->

                      </div>
                        
                    </td>
                    <td colspan="6">
                        <input type="text" 
                            id="text-input" 
                            name="searchCode" 
                            [(ngModel)]="search"
                            class="form-control" 
                            placeholder="Search">
                    </td>
                  </tr>
                  <tr *ngFor="let mainModelobj of mainModelList | filter:search | paginate: { itemsPerPage: 10, currentPage: p }; let i = index ">
                    <td>
                        <div class="col text-center">
                            <!-- <button id="create" class="btn btn-block btn-outline-primary"  
                                    style="width: 40px; height: 30px;"
                                    type="button" (click)="clearModel();" 
                                    data-toggle="modal" data-target="#myModal">
                                    <i class='fa fa-plus icons font-1xl d-block'></i>
                            </button> -->
                            <button id="add" class="btn btn-block btn-outline-primary" data-toggle="modal" data-target="#myModal"
                                type="button" (click)="getById(mainModelobj.id)" style="width: 40px; height: 30px;">
                                <i class="cui-pencil icons font-1xl d-block "></i>
                            </button>
                            <button id="delete" class="btn btn-block btn-outline-danger" 
                                type="button" (click)="delete(mainModelobj.id)" 
                                style="width: 40px; height: 30px;">
                                <i class="icon-trash icons font-1xl d-block"></i>
                            </button>
                            
                        </div>
                    </td> 
                    <td>
                      {{mainModelobj.itemDiscription}}
                    </td>
                    <td>
                      {{mainModelobj.itemCode}}
                    </td>
                    <td>
                      {{mainModelobj.sellPrice | number }}
                    </td>
                    <td>
                        {{mainModelobj.fixedAmount | number }}
                    </td>
                    <td>
                        {{mainModelobj.percentage}}
                    </td>
                    <td>
                      {{mainModelobj.effectiveDate | date }}
                  </td>
                  </tr>
                </tbody>
              </table>
              <div class="row">
                <div class="col-sm-12 text-right">
                  <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
              </div>
          </div>
         
        </div>
        
      </div>
    
    
    
    
      <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">{{modelTopic}}</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
      
            <!-- Modal body -->
            <div class="modal-body">
    
                <div class="col-md-12">
                    <div class="card">
                      <!-- <div class="card-header">
                        <strong>Basic Form</strong> Elements
                      </div> -->
                      <div class="card-body">
    
                        <!-- alert -->
                        <div id="success-alert" class="alert alert-success" role="alert" style="display: none;">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <strong>Success </strong> {{message}}
                        </div>
    
                        <div id="alert-danger" class="alert alert-danger alert-dismissible" style="display: none;">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <strong>Error </strong> {{message}}
                        </div>
                        <!-- /alert -->
    
                        <form class="form-horizontal" #productForm="ngForm" (ngSubmit)="submit();">
                          <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="text-input">Sale Price</label>
                            <div class="col-md-9">
                              <input type="text" 
                                        name="sellPrice" 
                                        #sellPrice="ngModel" 
                                        [(ngModel)]="mainModel.sellPrice"
                                        class="form-control" 
                                        placeholder=""
                                        [readonly]="true"
                                        >
                             <!--  <span class="help-block">This is a help text</span> -->
                             <!-- <div *ngIf="sellPrice.touched && sellPrice.errors?.required" style="color: red;">Code is required</div> -->
                            </div>
                          </div>
    
                          <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="text-input">Fixed Amount</label>
                            <div class="col-md-9">
                              <input type="text" 
                                        name="fixedAmount" 
                                        #fixedAmount="ngModel"
                                        [(ngModel)]="mainModel.fixedAmount"
                                        class="form-control" 
                                        (keyup)="calculate('F')"
                                        required>
                              <!-- <span class="help-block">This is a help text</span> -->
                              <div *ngIf="fixedAmount.touched && fixedAmount.errors?.required" style="color: red;">Required</div>
                            </div>
                          </div>

                          <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="text-input">Percentage</label>
                            <div class="col-md-9">
                              <input type="text" 
                                        name="percentage" 
                                        #percentage="ngModel"
                                        [(ngModel)]="mainModel.percentage"
                                        class="form-control" 
                                        (keyup)="calculate('P')"
                                        required>
                              <!-- <span class="help-block">This is a help text</span> -->
                              <div *ngIf="percentage.touched && percentage.errors?.required" style="color: red;">Required</div>
                            </div>
                          </div>

                          <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="text-input">Effective Date</label>
                            <div class="col-md-9">
                              <!-- <input type="text" 
                                        name="effectiveDate" 
                                        #effectiveDate="ngModel"
                                        [(ngModel)]="mainModel.effectiveDate"
                                        class="form-control" 
                                        required> -->
                              
                                <input type="text"
                                        name="effectiveDate" 
                                        class="form-control"
                                        #effectiveDate="bsDatepicker"
                                        bsDatepicker
                                        [(ngModel)]="mainModel.effectiveDate">

                              <!-- <span class="help-block">This is a help text</span> -->
                              <div *ngIf="effectiveDate.touched && effectiveDate.errors?.required" style="color: red;">Required</div>
                            </div>
                          </div>
    
                          <div class="row">
                            <div class="col-sm-12 text-right">
                                <button type="reset" class="btn btn-sm btn-danger "><i class="fa fa-ban"></i> Reset</button>
                                <button name="submit"  [disabled]="!productForm.valid" type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
                                
                            </div>
                        </div>
                            
                        </form>
                      </div>
                      <!-- <div class="card-footer">
                        
                      </div> -->
                    </div>
                  </div>
    
            </div>
      
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
      
          </div>
        </div>
      </div>




    <!--product category Modal -->
    <div class="modal fade" id="productCatModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Select Item</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Action</th>
                  <th scope="col">Code</th>
                  <th scope="col">Description</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  
                  <th colspan="3">
                    <input type="text" 
                        id="text-input" 
                        name="catSearch" 
                        [(ngModel)]="itemSearch"
                        class="form-control" 
                        placeholder="Search">
                  </th>

                </tr>
                
                <tr *ngFor="let item of itemList | filter:itemSearch | paginate: { itemsPerPage: 5, currentPage: p }; let i = index ">
                  <th>
                    <button class="btn btn-block btn-outline-primary" 
                    type="button" (click)="selectItem(item.id);getDiscountsByItemId(item.id);" data-dismiss="modal" >Select</button>
                  </th>
                  <td>{{item.code}}</td>
                  <td>{{item.itemDisplayName}}</td>
                </tr>
              </tbody>
            </table>
            <div class="row">
              <div class="col-sm-12 text-right">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </div>
            </div>
          </div>
          <!-- <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div> -->
        </div>
      </div>
    </div>