<div class="container">

  <div class="col-md-12">
    <div class="card card-accent-primary">
      <div class="card-header">
        Access Control
      </div>
      <div class="card-body">
        
        <div class="container">
          <div class="row">
            <div class="col-sm-2" align="right">
              Access Group
            </div>
            <div class="col-md-8">
              <input disabled="disabled" type="text" [(ngModel)]="accessGroupDes" style="width: 100%;">
            </div>
  
            <div class="col-sm-2">
              <input type="button" (click)="getAllAccessGroup()" data-toggle="modal" data-target="#myModal" value="Select" style="width: 100%;" class="btn btn-block btn-outline-primary">
            </div>
          </div>
        </div>
    </div>
  </div><!--/.col-->
  <div class="col-md-12">
      <div class="card ">
        <!-- <div class="card-header">
          Access Control
        </div> -->
        <div class="card-body">
          <div class="container">
            <div class="row">
          <div class=" col-md-2 "></div>
              <div class="col-md-6 anyClass ">
                  <table class="table table-hover" style="width: 100 px;">
                      <thead>
                        <tr>
                          <th scope="col">Parent</th>
                          <th scope="col">Chield</th>
                        </tr>
                      </thead>
                      <tbody *ngFor="let navigation of navigations; let i=index">
                        <!-- {{navigation.children.length}} -->
                        <tr >
                          <td scope="row">
                            <input *ngIf="!navigation.children.length" type="checkbox" [name]="navigation.name" [value]="navigation.navigationId" (change)="onCheckboxChange($event,'M',navigation.name,null)" />
                              <label>
                                  {{navigation.name}}
                                </label>
                          </td>
                        <td>
                          ------
                        </td>
                         
                        </tr>
                        <tr *ngFor="let naviCh of navigation.children">
                          <th> </th>
                          <td>
                              <label>
                                  <input type="checkbox" [name]="navigation.name" [value]="naviCh.navigationChildrenId" (change)="onCheckboxChange($event,'C',naviCh.name,navigation.navigationId)" />
                                  {{naviCh.name}}
                              </label>
                          </td>
                         
                        </tr>
                      </tbody>
                    </table>
                  
                </div>
            </div>
            </div>
        </div>
      </div>
    </div><!--/.col-->

    <div class="col-md-12">
      <div class="card ">
        
        <div class="card-body">
          
          <div class="container">
            <div class="row">
              <div class="col-md-8" >
              </div>
              <div class="col-md-4">

                  <button type="reset" (click)="reset();" class="btn btn-sm btn-danger "><i class="fa fa-ban"></i> Reset</button>
                  <button name="submit" (click)="submit();" type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
                  
              </div>
            </div>
          </div>
      </div>
    </div><!--/.col-->

</div>


<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Select Access Group</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">

          <div class="col-md-12">
              <div class="card">
                <!-- <div class="card-header">
                  <strong>Basic Form</strong> Elements
                </div> -->
                <div class="card-body">


                  <table class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <th style="width: 200px;">Actions</th>
                        <th>Code</th>
                        <th>Description</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>

                        </td>
                        <td colspan="2">
                            <input type="text" 
                                id="text-input" 
                                name="searchCode" 
                                [(ngModel)]="search"
                                class="form-control" 
                                placeholder="Search">
                        </td>
                        <!-- <td><input type="text" 
                                id="text-input" 
                                name="searchDescription" 
                                [(ngModel)]="search"
                                class="form-control" 
                                placeholder="Description">
                        </td> -->
                      </tr>
                      <tr *ngFor="let accessGroup of accessGroups | filter:search | paginate: { itemsPerPage: 10, currentPage: p }; let i = index ">
                        <td>
                          <input type="button" (click)="setAccessGroupId(accessGroup.accessGroupId,accessGroup.description)" value="Select" class="btn btn-block btn-outline-primary" >
                        </td>
                        <td>
                            {{accessGroup.code}}
                        </td>
                        <td>
                            {{accessGroup.description}}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="row">
                    <div class="col-sm-12 text-right">
                      <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                  </div>
                  
                </div>
                <!-- <div class="card-footer">
                  
                </div> -->
              </div>
            </div>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" #closebutton data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

