<style>
    #add,
    #delete{
        display: inline-block;
        vertical-align: baseline;
    }
    
    </style>
    
    <div class="col-md-12">
        <div class="card card-accent-primary">
          <div class="card-header">
            <strong>{{mainTopic}}</strong> 
          </div>
          <div class="card-body">
    
            <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th style="width: 200px;">Actions</th>
                    <th>Stakeholder Type</th>
                    <th>First Name</th>
                    <th>Email</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                        <button class="btn btn-block btn-outline-primary" 
                            type="button" (click)="clearModel();" data-toggle="modal" data-target="#myModal"><i class='fa fa-plus fa-md'></i>
                        </button>
                    </td>
                    <td colspan="3">
                        <input type="text" 
                            id="text-input" 
                            name="searchCode" 
                            [(ngModel)]="search"
                            class="form-control" 
                            placeholder="Search">
                    </td>
                    <!-- <td><input type="text" 
                            id="text-input" 
                            name="searchDescription" 
                            [(ngModel)]="search"
                            class="form-control" 
                            placeholder="Description">
                    </td> -->
                  </tr>
                  <tr *ngFor="let mainModelobj of mainModelList | filter:search | paginate: { itemsPerPage: 10, currentPage: p }; let i = index ">
                    <td>
                        <div class="col text-center">
                            <button id="add" class="btn btn-block btn-outline-primary" data-toggle="modal" data-target="#myModal"
                                type="button" (click)="getById(mainModelobj.id)" style="width: 50px; height: 30px;"><i class="cui-pencil icons font-1xl d-block "></i>
                            </button>
                            <button id="delete" class="btn btn-block btn-outline-danger" 
                                type="button" (click)="delete(mainModelobj.id)" 
                                style="width: 50px; height: 30px;">
                                <i class="icon-trash icons font-1xl d-block"></i>
                            </button>
                        </div>
                    </td> 
                    <td>
                      {{mainModelobj.stakeholderType}}
                  </td>
                    <td>
                        {{mainModelobj.firstName}}
                    </td>
                    <td>
                        {{mainModelobj.email}}
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="row">
                <div class="col-sm-12 text-right">
                  <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
              </div>
             <!--  <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                <li class="page-item active">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
              </ul> -->
    
    
            
          </div>
         
        </div>
        
      </div>
    
    
    
    
      <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">{{modelTopic}}</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
      
            <!-- Modal body -->
            <div class="modal-body">
    
                <div class="col-md-12">
                    <div class="card">
                      <!-- <div class="card-header">
                        <strong>Basic Form</strong> Elements
                      </div> -->
                      <div class="card-body">
    
                        <!-- alert -->
                        <div id="success-alert" class="alert alert-success" role="alert" style="display: none;">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <strong>Success </strong> {{message}}
                        </div>
    
                        <div id="alert-danger" class="alert alert-danger alert-dismissible" style="display: none;">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <strong>Error </strong> {{message}}
                        </div>
                        <!-- /alert -->
    
                        <form class="form-horizontal" #productForm="ngForm" (ngSubmit)="submit();">

                          <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="text-input">Stakeholder Type</label>
                            <div class="col-md-9">
                              <!-- <input type="text" 
                                        name="role" 
                                        #role="ngModel" 
                                        [(ngModel)]="mainModel.role"
                                        class="form-control" 
                                        required> -->

                                        <select name="stakeholderType" #stakeholderType="ngModel" [(ngModel)]="mainModel.stakeholderType"   class="form-control" required>
                                            <!-- <option value="0">Please select</option> -->
                                            <option value="ADMIN">Administrator</option>
                                            <option value="OFFICER">Officer</option>
                                            <option value="RIDER">Rider</option>
                                            <option value="SUPPLIER">Supplier</option>
                                          </select>
                             <!--  <span class="help-block">This is a help text</span> -->
                             <div *ngIf="stakeholderType.touched && stakeholderType.errors?.required" style="color: red;">Required</div>
                            </div>
                          </div>

                          <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="text-input">Initials</label>
                            <div class="col-md-9">
                              <input type="text" 
                                        name="initials" 
                                        #initials="ngModel" 
                                        [(ngModel)]="mainModel.initials"
                                        class="form-control" >
                             <!--  <span class="help-block">This is a help text</span> -->
                             <!-- <div *ngIf="initials.touched && initials.errors?.required" style="color: red;">Required</div> -->
                            </div>
                          </div>

                          <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="text-input">First Name</label>
                            <div class="col-md-9">
                              <input type="text" 
                                        name="firstName" 
                                        #firstName="ngModel" 
                                        [(ngModel)]="mainModel.firstName"
                                        class="form-control" 
                                        required>
                             <!--  <span class="help-block">This is a help text</span> -->
                             <div *ngIf="firstName.touched && firstName.errors?.required" style="color: red;">Required</div>
                            </div>
                          </div>

                          <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="text-input">Last Name</label>
                            <div class="col-md-9">
                              <input type="text" 
                                        name="lastName" 
                                        #lastName="ngModel" 
                                        [(ngModel)]="mainModel.lastName"
                                        class="form-control" >
                             <!--  <span class="help-block">This is a help text</span> -->
                             <!-- <div *ngIf="lastName.touched && lastName.errors?.required" style="color: red;">Required</div> -->
                            </div>
                          </div>

                          <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="text-input">Email</label>
                            <div class="col-md-9">
                              <input type="text" 
                                        name="email" 
                                        #email="ngModel" 
                                        [(ngModel)]="mainModel.email"
                                        class="form-control" 
                                        required>
                             <!--  <span class="help-block">This is a help text</span> -->
                             <div *ngIf="email.touched && email.errors?.required" style="color: red;">Required</div>
                            </div>
                          </div>

                          <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="text-input">NIC</label>
                            <div class="col-md-9">
                              <input type="text" 
                                        name="nic" 
                                        #nic="ngModel" 
                                        [(ngModel)]="mainModel.nic"
                                        class="form-control" 
                                        required>
                             <!--  <span class="help-block">This is a help text</span> -->
                             <div *ngIf="nic.touched && nic.errors?.required" style="color: red;">Required</div>
                            </div>
                          </div>

                          <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="text-input">MobileNo</label>
                            <div class="col-md-9">
                              <input type="text" 
                                        name="mobileNo" 
                                        #mobileNo="ngModel" 
                                        [(ngModel)]="mainModel.mobileNo"
                                        class="form-control" 
                                        required>
                             <!--  <span class="help-block">This is a help text</span> -->
                             <div *ngIf="mobileNo.touched && mobileNo.errors?.required" style="color: red;">Required</div>
                            </div>
                          </div>

                          <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="text-input">Gender</label>
                            <div class="col-md-9">
                              <!-- <input type="text" 
                                        name="gender" 
                                        #gender="ngModel" 
                                        [(ngModel)]="mainModel.gender"
                                        class="form-control" 
                                        required> -->
                            <select name="gender" #gender="ngModel"  [(ngModel)]="mainModel.gender"   class="form-control" required>
                                <!-- <option value="0">Please select</option> -->
                                <option value="M">Male</option>
                                <option value="F">Female</option>
                            </select>
                             <!--  <span class="help-block">This is a help text</span> -->
                             <div *ngIf="gender.touched && gender.errors?.required" style="color: red;">Required</div>
                            </div>
                          </div>

                          <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="text-input">Address Line 1</label>
                            <div class="col-md-9">
                              <input type="text" 
                                        name="addressLine1" 
                                        #addressLine1="ngModel" 
                                        [(ngModel)]="mainModel.addressLine1"
                                        class="form-control" 
                                        required>
                             <!--  <span class="help-block">This is a help text</span> -->
                             <div *ngIf="addressLine1.touched && addressLine1.errors?.required" style="color: red;">Required</div>
                            </div>
                          </div>

                          <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="text-input">Address Line 2</label>
                            <div class="col-md-9">
                              <input type="text" 
                                        name="addressLine2" 
                                        #addressLine2="ngModel" 
                                        [(ngModel)]="mainModel.addressLine2"
                                        class="form-control" >
                             <!--  <span class="help-block">This is a help text</span> -->
                             <!-- <div *ngIf="addressLine2.touched && addressLine2.errors?.required" style="color: red;">Required</div> -->
                            </div>
                          </div>

                          <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="text-input">Address Line 3</label>
                            <div class="col-md-9">
                              <input type="text" 
                                        name="addressLine3" 
                                        #addressLine3="ngModel" 
                                        [(ngModel)]="mainModel.addressLine3"
                                        class="form-control" >
                             <!--  <span class="help-block">This is a help text</span> -->
                             <!-- <div *ngIf="addressLine3.touched && addressLine3.errors?.required" style="color: red;">Required</div> -->
                            </div>
                          </div>

                          <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="text-input">Is Active</label>
                            <div class="col-md-9">
                              <!-- <input type="text" 
                                        name="isActive" 
                                        #isActive="ngModel" 
                                        [(ngModel)]="mainModel.isActive"
                                        class="form-control" 
                                        required> -->

                                <select name="isActive" #isActive="ngModel"  [(ngModel)]="mainModel.isActive"   class="form-control" required>
                                    <!-- <option value="0">Please select</option> -->
                                    <option value="A">Active</option>
                                    <option value="D">Deactive</option>
                                </select>
                             <!--  <span class="help-block">This is a help text</span> -->
                             <div *ngIf="isActive.touched && isActive.errors?.required" style="color: red;">Required</div>
                            </div>
                          </div>
    
                          <div class="row">
                            <div class="col-sm-12 text-right">
                                <button type="reset" class="btn btn-sm btn-danger "><i class="fa fa-ban"></i> Reset</button>
                                <button name="submit"  [disabled]="!productForm.valid" type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
                                
                            </div>
                        </div>
                            
                        </form>
                      </div>
                      <!-- <div class="card-footer">
                        
                      </div> -->
                    </div>
                  </div>
    
            </div>
      
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
      
          </div>
        </div>
      </div>




    <!--product category Modal -->
    <div class="modal fade" id="productCatModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Select Product Category</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Action</th>
                  <th scope="col">Code</th>
                  <th scope="col">Description</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  
                  <th colspan="3">
                    <input type="text" 
                        id="text-input" 
                        name="catSearch" 
                        [(ngModel)]="productCatSearch"
                        class="form-control" 
                        placeholder="Search">
                  </th>

                </tr>
                
                <tr *ngFor="let productCat of productCatList | filter:productCatSearch | paginate: { itemsPerPage: 5, currentPage: p }; let i = index ">
                  <th>
                    <button class="btn btn-block btn-outline-primary" 
                    type="button" (click)="selectPrdCat(productCat.id)" data-dismiss="modal" >Select</button>
                  </th>
                  <td>{{productCat.code}}</td>
                  <td>{{productCat.description}}</td>
                </tr>
              </tbody>
            </table>
            <div class="row">
              <div class="col-sm-12 text-right">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </div>
            </div>
          </div>
          <!-- <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div> -->
        </div>
      </div>
    </div>