

.image-col {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
   /* // height: 50%; */
   width: 100px;
    height: 50px;
    /* //border-radius: 50%;*/
} 

.modal-dialog,
.modal-content {
    /* 80% of window height */
    height: 100%;
}

.modal-body {
    /* 100% = dialog height, 120px = header + footer */
    max-height: calc(100% - 120px);
    overflow-y: scroll;
}